@model NashTechAssignmentDay5.Domain.Entities.Person
@{
	ViewData["Title"] = "Confirm delete";
}
<h3>Person @Model.FirstName @Model.LastName was removed from the list successfully!</h3>
<div><a asp-action="Index">Back to List</a></div>